.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/

/vendor/assets/bower_components
/node_modules
*.gem
/bower.json
coverage
Gemfile.lock
.byebug_history
package-lock.json