<div class="global-alert global-alert--warning">
  <div class="global-alert__content-container">
    <strong class="global-alert__heading">
      <%= t('wpcc.launch_warning_title') %>
    </strong>
    <p class="global-alert__message">
      <%= t('wpcc.launch_warning_content') %>
      <%= link_to(t('wpcc.launch_warning_email_text'), 'mailto:tools.help@moneyadviceservice.org.uk') %>
    </p>
  </div>
</div>
