<div class="results__salary-frequency">
  <%= form_tag(your_results_path) do %>
    <%= label :salary_frequency, t('wpcc.details.salary.frequency.label'), class: 'form__label-heading details__field-label' %>
    <%= select_tag(:salary_frequency, options_for_select(@schedule.salary_frequency_options, salary_frequency)) %>
    <%= submit_tag 'Recalculate' %>
  <% end %>
</div>
