<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <% period_percents.each do |period| %>
          <th><%= period.title %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>You</td>
        <% period_percents.each do |period| %>
          <td><%= period.employee_percent %></td>
        <% end %>
      </tr>
      <tr>
        <td>Employer</td>
        <% period_percents.each do |period| %>
          <td><%= period.employer_percent %></td>
        <% end %>
      </tr>
    </body>
  </table>
</div>
