.details {}

.details__row {
  @include row(12);
}

.details__field {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
  }
}

.details__callouts {
  @include column(12);
}

.details__callout {
  &.details__callout--active {
    display: block;
  }

  &.details__callout--inactive {
    display: none;
  }
}

.details__helper {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(8);
  }
}

.details__salary {
  @include row(12);
}

.details__salary-amount,
.details__salary-frequency {
  @include column(6);
}

.details__salary-amount {
  .form__label-heading {
    width: 200%;
  }
}

.details__salary-frequency {
  .form__label-heading {
    visibility: hidden;
  }
}

.details__calculate-heading,
.details__calculate-intro {
  @include column(12);
}

.details__calculate-item {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(6);
  }
}
