.details__row {
  @extend %clearfix;
  position: relative;
  clear: both;

  @include respond-to($mq-l) {
    @include column(8);
    margin: 0;
  }
  
  .form__label-heading {
    display: inline;
  }
}

.details__field {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
  }
}

.details__field-label {
  font-weight: 700;
}

.details__callouts {
  @include column(12);
}

.details__callout {
  &.details__callout--active {
    display: block;
  }

  &.details__callout--inactive {
    display: none;
  }
}

.details__helper {
  @include column(12);
  
  @include respond-to($mq-m) {
    @include column(8);
    
    .js & {
      margin-top: $baseline-unit*6;
    }
  }
}

.details__salary {
  @include row(12);
}

.details__salary-amount,
.details__salary-frequency {
  @include column(6);
}

.details__salary-amount {
  .form__label-heading {
    width: 200%;
  }
}

.details__salary-frequency {
  .form__label-heading {
    visibility: hidden;
  }
}

.details__calculate-heading,
.details__calculate-intro {
  @include column(12);
  color: $color-black;
}

.details__calculate-item {
  @include column(12);
  position: relative;
  
  @include respond-to($mq-m) {
    @include column(6);
  }

  input[type="radio"]:checked + label {
    background-color: $color-green-pale;
    border: 1px solid $color-green-medium;
  }
}

.details__calculate-item-select {
  position: absolute;
  left: 50%;
  top: $baseline-unit*2;
}

.details__calculate-item-label {
  border: 1px solid $color-grey-palest;
  background-color: $color-white;
  padding: $baseline-unit*6 $baseline-unit*2 $baseline-unit*2;
  display: block;
  text-align: center;

  
}
