
// -- Colours -----------------------------------------
    $white: #ffffff;
    $text_colour: #000B3B;
    $h1_colour: #0F19A0;

    $input_border: #60637E;

    $button_default_bg: #C82A87;
    $button_hover_bg: #AE0060;
    $button_active_bg: #9C0052;
    $button_active_bdr: #F0F05A;
// ----------------------------------------------------

$border_radius: 4px;