<!DOCTYPE html>
<html>
  <head>
    <%= yield(:head) %>
  </head>

  <body>
    <%= yield(:engine_content) %>

    <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <%= javascript_include_tag 'requirejs/require', data: {main: javascript_path('application')} %>
    <!--<![endif]-->
  </body>
</html>
