.section {
  @extend %clearfix;
  border-bottom: 1px solid $color-grey-concrete;
  clear: both;
}

.section__heading {
  clear: both;
  margin-top: $baseline-unit*2;
}

.section__heading-summary {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  color: $color-grey-medium;

  @include respond-to($mq-m) {
    display: inline;
  }

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}

.section__heading-edit {
  @include body(16, 22);
  font-weight: 500;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.section--details {
  border-top: 1px solid $color-grey-concrete;
}

.section--contributions {

}

.section--results {

}
