<!DOCTYPE html>
<html>
<head>
  <title>Wpcc</title>
  <%= stylesheet_link_tag    "wpcc/application", media: "all" %>
  <%= javascript_include_tag "wpcc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
