<div class="minimum-contributions-error is-hidden">
  <div class="validation-summary" role="alert">
    <div class="validation-summary__content-container">
      <p class="validation-summary__title">
        <%= t('dough.forms.validation.summary.title') %>
      </p>
      <ol class="validation-summary__list">
        <li class="validation-summary__error">
          <%= t('minimum_combined_contribution') %>
        </li>
      </ol>
    </div>
  </div>
</div>
