$responsive: true;

@import 'dough/assets/stylesheets/lib';
@import 'yeast/assets/lib/all';

// Dough
@import 'dough/assets/stylesheets/common';
@import 'dough/assets/stylesheets/optional';
@import 'dough/assets/stylesheets/basic';

// Helpers
@import 'yeast/assets/helpers/form-input';
@import 'yeast/assets/helpers/form-input-focus';
@import 'yeast/assets/helpers/layout';

// Base
@import 'yeast/assets/base/variables';
@import 'yeast/assets/base/forms';
@import 'yeast/assets/base/headings';
@import 'yeast/assets/base/reset';
@import 'yeast/assets/base/type';

// Layout
@import 'yeast/assets/layout/common/constrained';
@import 'yeast/assets/layout/common/tool';

// Dough Theme Components
@import 'yeast/assets/components/dough_theme/form/form';
@import 'yeast/assets/components/dough_theme/field_help_text/field_help_text';
@import 'yeast/assets/components/dough_theme/button/settings';
@import 'yeast/assets/components/dough_theme/button/button';


/**
 * Styles to be moved into appropriate separate files
 */

// generic
body {
	margin: 0;
}

.intro {
	@extend %paragraph-intro;
}

// page specific (details)
.details__row {
	@include row(12);
}

.details__field {
  @include column(12);

  @include respond-to($mq-m) {
	  @include column(4);
  }
}

.details__helper {
  @include column(12);

  @include respond-to($mq-m) {
	  @include column(8);
  }
}

.details__salary {
	@include row(12);
}

.salary__amount,
.salary__frequency {
	@include column(6);
}

.salary__amount {
	.form__label-heading {
		width: 200%;
	}
}

.salary__frequency {
	.form__label-heading {
		visibility: hidden;
	}
}

.calculate__heading,
.calculate__intro {
	@include column(12);
}

.calculate__item {
	@include column(12);

	@include respond-to($mq-m) {
		@include column(6);
	}
}
