// -- Headers ----------------------------------------------------------------------
    h1,h2,h3,h4,h5,h6{
        font-family: 'Roobert-Bold', sans-serif;
        font-style: normal;
        font-weight: bold;
    }
    h1{
        // font-size: 48px;
        // line-height: 54px;
        color: $blue_primary;
        @media(max-width:$mobile_width){
            // font-size: 38px;
            // line-height: 46px;
        }
    }
    h2{
        // font-size: 38px;
        // line-height: 43px;
        color: $blue_primary;
        @media(max-width:$mobile_width){
            // font-size: 28px;
            // line-height: 36px;
        }
    }
    h3{
        // font-size: 32px;
        // line-height: 39px;
        color: $text_secondary;
        @media(max-width: $mobile_width){
            // font-size: 25px;
            // line-height: 33px;            
        }
    }
    // -- *Note H4 restricted to footer links - out of scope for reskin tools --
    h5{
        // font-size: 22px;
        // line-height: 28px;
        color: $text_secondary;
        @media(max-width: $mobile_width){
            // font-size: 20px;
            // line-height: 25px;            
        }        
    }
    h6{
        // font-size: 19px;
        // line-height: 25px;
        color: $text_secondary;
    }
// ---------------------------------------------------------------------------------


// -- Paragraphs -------------------------------------------------------------------
    p{
        font-family: 'Roobert-Regular', sans-serif!important;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: $text_secondary;
        &.callout{
            background-color: $light_grey;
            border-radius: $border_radius;
            padding: 10px;
        }
    }
// ---------------------------------------------------------------------------------


// -- Buttons ----------------------------------------------------------------------
    .button{
        box-sizing: border-box;
        font-family: 'Roobert-Regular', sans-serif;
        &:active, &:focus, &:hover{
            outline: none!important;
        }
        &.button--primary{
            background: $magenta_primary;
            color: $white;
            font-size: 16px;
            border: 3px solid $magenta_primary;
            border-radius: $border_radius;
            box-shadow: 0px 3px 0px rgba(0, 11, 59, 0.25);
            padding: 8px 16px;  
            &:hover{
                background: $magenta_dark;
                border: 3px solid $magenta_dark;
            }
            &:focus{
                background-color: $yellow_secondary;
                border: 3px solid $support_focus;
                color: $text_secondary;
            }
            &:active{
                background: $magenta_darker;
                color: $white;
                border: 3px solid $yellow_secondary;
                box-shadow: 0px 3px 0px $white, inset 0px 5px 2px rgba(0, 11, 59, 0.25);
            }
        }
    }
    .js{
        .popup-tip__button{
            border: 0;
            font-size: 0;
            border-radius: 0;
            background-color: $white;
            background-image: $i_svg;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 18px;
            width: 18px;
            height: 18px;
            vertical-align: text-top;
            &:focus{
                box-shadow: 0 0 0 4px $yellow_secondary;
                outline: 0;
            }
            @media print{
                display: none;
            }
        }
        .popup-tip__container{
            border: 2px solid $blue_primary;
            .popup-tip__close{
                border: 2px solid $blue_primary;
                border-radius: 0;
                background-image: $close_svg;
                background-repeat: no-repeat;
                background-size: 16px;
                background-position: 50%;
                width: 32px;
                height: 32px;
                span{
                    display: none;
                }
            }
        }
    }
// ---------------------------------------------------------------------------------


// -- Form elements ----------------------------------------------------------------
    label{
        font-family: 'Roobert-Bold', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: $text_secondary;
    }
    input[type=text],
    input[type=number]{
        width: 285px;
        height: 40px;
        font-family: 'Roobert-Regular', sans-serif;
        box-sizing: border-box;
        background-color: $white;
        border: 1px solid $input_border;
        border-radius: $border_radius;
        padding: 9px 12px 9px 12px;
        &:focus{
            border: 2px solid $input_border;
            border-radius: $border_radius;
            box-shadow: 0 0 0 4px $yellow_secondary;
            outline: 0;
        }
    }
    select{
        width: 285px;
        height: 40px;
        font-family: 'Roobert', sans-serif;
        box-sizing: border-box;
        background-color: $white;
        border: 1px solid $input_border;
        border-radius: $border_radius;
        background-image: $select_down_svg;
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: 100% -2px;
        &:focus{
            border: 1px solid $input_border;
            border-radius: $border_radius;
            box-shadow: 0 0 0 4px $yellow_secondary;
            background-image: $select_up_svg;
            outline: 0;
        }
    }
    fieldset{
        legend{
            font-family: 'Roobert-Bold', sans-serif;
            font-size: 22px;
            font-weight: 700;
        }
    }
    .form__row.is-errored{
        border-color: $red_error;
        border-width: 4px;
        label{
            color: $text_secondary;
        }
        input[type=text],
        input[type=number]{
            border: 2px solid $red_error;
        }
        select{
            border: 2px solid $red_error;
            color: $text_secondary;
        }
        .js-inline-error{
            p{
                color: $red_error;
                font-size: 16px;
                line-height: 23px;
            }
        }
    }
// ---------------------------------------------------------------------------------